@font-face {
font-family: "Circular Std";
src: url("../font/CircularStd-Bold.otf") format("opentype");
}

/*@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeueLT-LightExt.otf") format("opentype");
}*/
